
body{
    background-color: black;
}

.main{
    background-color: white;
    margin: auto;
    width:80%;
    height: 800px;
    padding: 50px;

}
/*topBox*/
.topDiv{
    background-image: linear-gradient(to  right,white,rgba(224, 230, 216, 0.815), rgb(73, 252, 192), rgba(36, 153, 0, 0.644));    
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 10px;
}
.ASCII-ART{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color:black;
    font-size: 100px;
}

/*bottomBox*/
.bottomDiv{
    background-image: linear-gradient(to  right,white,rgba(224, 230, 216, 0.815), rgb(73, 252, 192), rgba(36, 153, 0, 0.644));    
    text-align: center;
    margin: auto;
    width: 90%;
    height: 400px;
    padding: 10px;

}
.RightDiv{
    float: bottom,left;
    background: white;
    margin: auto;
    width : 70%;
    height: 30px;
    border: 5px solid black;
    padding-top: 5px;
}

.LeftDiv{
    float: center;
    margin: auto;
    background-color:white;
    width: 70%;
    height: 300px;
    border:5px solid black;
    border-top: none;
    padding-top: 50px;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  } 
#outputText{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}